/*
Copyright 2024 New Vector Ltd.
Copyright 2022 The Matrix.org Foundation C.I.C.

SPDX-License-Identifier: AGPL-3.0-only OR GPL-3.0-only OR LicenseRef-Element-Commercial
Please see LICENSE files in the repository root for full details.
*/

.mx_QuickThemeSwitcher {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 14px 20px 20px;
    border-top: 1px solid var(--cpd-color-border-disabled);
    margin-top: 8px;

    .mx_Dropdown {
        flex: 1;
        min-width: 100px;
        height: min-content;
    }

    .mx_Dropdown_menu {
        max-height: 70px;
    }
}

.mx_QuickThemeSwitcher_heading {
    font-weight: var(--cpd-font-weight-semibold);
    font-size: $font-10px;
    line-height: 1;
    color: var(--cpd-color-text-secondary);
    text-transform: uppercase;
    letter-spacing: 0.08em;
    display: inline-block;
    margin: 0;
    white-space: nowrap;
}
