/* the 'src' links are relative to the bundle.css, which is in a subdirectory.
 */

/* IRANSansX — Fanoos default font */
@font-face {
    font-family: "IRANSansX";
    font-weight: 100;
    font-style: normal;
    src:
        url("/res/fonts/IRANSansX/woff2/IRANSansX-Thin.woff2") format("woff2"),
        url("/res/fonts/IRANSansX/woff/IRANSansX-Thin.woff") format("woff");
}
@font-face {
    font-family: "IRANSansX";
    font-weight: 200;
    font-style: normal;
    src:
        url("/res/fonts/IRANSansX/woff2/IRANSansX-UltraLight.woff2") format("woff2"),
        url("/res/fonts/IRANSansX/woff/IRANSansX-UltraLight.woff") format("woff");
}
@font-face {
    font-family: "IRANSansX";
    font-weight: 300;
    font-style: normal;
    src:
        url("/res/fonts/IRANSansX/woff2/IRANSansX-Light.woff2") format("woff2"),
        url("/res/fonts/IRANSansX/woff/IRANSansX-Light.woff") format("woff");
}
@font-face {
    font-family: "IRANSansX";
    font-weight: 400;
    font-style: normal;
    src:
        url("/res/fonts/IRANSansX/woff2/IRANSansX-Regular.woff2") format("woff2"),
        url("/res/fonts/IRANSansX/woff/IRANSansX-Regular.woff") format("woff");
}
@font-face {
    font-family: "IRANSansX";
    font-weight: 500;
    font-style: normal;
    src:
        url("/res/fonts/IRANSansX/woff2/IRANSansX-Medium.woff2") format("woff2"),
        url("/res/fonts/IRANSansX/woff/IRANSansX-Medium.woff") format("woff");
}
@font-face {
    font-family: "IRANSansX";
    font-weight: 600;
    font-style: normal;
    src:
        url("/res/fonts/IRANSansX/woff2/IRANSansX-DemiBold.woff2") format("woff2"),
        url("/res/fonts/IRANSansX/woff/IRANSansX-DemiBold.woff") format("woff");
}
@font-face {
    font-family: "IRANSansX";
    font-weight: 700;
    font-style: normal;
    src:
        url("/res/fonts/IRANSansX/woff2/IRANSansX-Bold.woff2") format("woff2"),
        url("/res/fonts/IRANSansX/woff/IRANSansX-Bold.woff") format("woff");
}
@font-face {
    font-family: "IRANSansX";
    font-weight: 800;
    font-style: normal;
    src:
        url("/res/fonts/IRANSansX/woff2/IRANSansX-ExtraBold.woff2") format("woff2"),
        url("/res/fonts/IRANSansX/woff/IRANSansX-ExtraBold.woff") format("woff");
}
@font-face {
    font-family: "IRANSansX";
    font-weight: 900;
    font-style: normal;
    src:
        url("/res/fonts/IRANSansX/woff2/IRANSansX-Black.woff2") format("woff2"),
        url("/res/fonts/IRANSansX/woff/IRANSansX-Black.woff") format("woff");
}

/* Twemoji COLR */
@font-face {
    font-family: "Twemoji";
    font-weight: 400;
    src: url("/res/fonts/Twemoji_Mozilla/TwemojiMozilla-colr.woff2") format("woff2");
}
/* For at least Chrome on Windows 10, we have to explictly add extra weights for the emoji to appear in bold messages, etc. */
@font-face {
    font-family: "Twemoji";
    font-weight: 600;
    src: url("/res/fonts/Twemoji_Mozilla/TwemojiMozilla-colr.woff2") format("woff2");
}
@font-face {
    font-family: "Twemoji";
    font-weight: 700;
    src: url("/res/fonts/Twemoji_Mozilla/TwemojiMozilla-colr.woff2") format("woff2");
}
