/*
Copyright 2024 New Vector Ltd.
Copyright 2021 The Matrix.org Foundation C.I.C.

SPDX-License-Identifier: AGPL-3.0-only OR GPL-3.0-only OR LicenseRef-Element-Commercial
Please see LICENSE files in the repository root for full details.
*/

.mx_SpaceCreateMenu_wrapper {
    /* background blur everything except SpacePanel */
    .mx_ContextualMenu_background {
        background-color: $dialog-backdrop-color;
        opacity: 0.6;
        left: 68px;
    }

    .mx_ContextualMenu {
        padding: 32px;
        width: 500px;
        box-sizing: border-box;
        background-color: $background;
        border-radius: 16px;
        position: relative;

        > div {
            > h2 {
                font-weight: var(--cpd-font-weight-semibold);
                font-size: $font-20px;
                margin-top: 0;
                margin-bottom: 8px;
            }

            > p {
                font-size: $font-15px;
                color: $secondary-content;
                margin: 0 0 24px;
                line-height: 1.5;
            }
        }

        .mx_SpaceCreateMenu_back {
            width: 28px;
            height: 28px;
            padding: var(--cpd-space-1x);
            background-color: $panel-actions;
            border-radius: 14px;
            margin-bottom: 16px;

            svg {
                color: $tertiary-content;
            }
        }

        .mx_AccessibleButton_kind_primary {
            padding: 10px 28px;
            margin-left: auto;
            margin-top: 20px;
            display: block;
            width: min-content;
            white-space: nowrap;
        }

        .mx_AccessibleButton_kind_primary_outline {
            display: block;
            margin-top: 16px;
            padding: 10px 20px;
            text-align: center;
        }

        .mx_AccessibleButton_disabled {
            cursor: not-allowed;
        }
    }
}
