/*
Copyright 2019-2024 New Vector Ltd.

SPDX-License-Identifier: AGPL-3.0-only OR GPL-3.0-only OR LicenseRef-Element-Commercial
Please see LICENSE files in the repository root for full details.
*/

.mx_AuthHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 280px;
    min-height: 100%;
    padding: 32px 20px 24px;
    box-sizing: border-box;
    background-color: #eef0f5;
    border-radius: 0 20px 20px 0;
    order: 2;
    position: relative;

    .mx_AuthBody_language {
        position: absolute;
        bottom: 20px;
        right: 16px;
        left: 16px;
    }
}

.mx_AuthHeaderLogo {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;

    img {
        width: 240px;
        height: auto;
        object-fit: contain;
    }
}

@media only screen and (max-width: 480px) {
    .mx_AuthHeader {
        display: none;
    }
}
